<div class="floating-bottom-bar primary l-z">
    <div>
        <a routerLink="/">
            <i class="material-icons">home</i>
        </a>
    </div>
    <div>
        <a routerLink="/search">
            <i class="material-icons">search</i>
        </a>
    </div>
    <div>
        <a routerLink="/alerts">
            <i class="material-icons">notifications</i>
        </a>
    </div>
    <div>
        <a routerLink="/toolkits">
            <i class="material-icons">business_center</i>
        </a>
    </div>
</div>