.example-container {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    font-size: 18px;
    margin: 12px 12px;
    font-weight: 400;
}
ul li mat-icon {
    margin: auto;
    vertical-align: middle;
}
ul li span {
    margin-left: 12px;
}
.topView {
    width: 100%;
    min-height: 15vh;
    background-color: whitesmoke;
}
