.example-container {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    font-size: 18px;
    margin: 12px 12px;
    font-weight: 400;
}
ul li mat-icon {
    margin: auto;
    vertical-align: middle;
}
ul li span {
    margin-left: 12px;
}
.topView {
    width: 100%;
    min-height: 15vh;
    background-color: whitesmoke;
}

.splash {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: white;
}
.splash img {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
}
.editNew {
    border-top-right-radius: 17px;
    position: fixed;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    border-top-left-radius: 17px;
    transition: 0.3s;
}
.floating-btn {
    position: fixed;
    bottom: 13vh;
    right: 12px;
}
.appearEditor {
    top: 2% !important;
    box-shadow: 0px -1px 20px 2px black;
}
