<!-- <router-outlet></router-outlet>
<app-bottom-nav-bar></app-bottom-nav-bar> -->

<div *ngIf="loading" class="splash">

    <img src="../assets/icons/icon-192x192.png" alt="">

</div>

<mat-drawer-container class="example-container" hasBackdrop="true">
    <mat-drawer #drawer mode="push" style="min-width: 60vw;">

        <div class="topView">
            User Name
        </div>
        <ul>
            <li>
                <mat-icon>perm_identity</mat-icon>
                <span>Profile</span>
            </li>
            <li>
                <mat-icon>turned_in_not</mat-icon>
                <span>Saved</span>
            </li>
            <hr>
            <li>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </li>
            <li>
                <mat-icon>help_outline</mat-icon>
                <span>Help</span>
            </li>
            <li (click)="logout()">
                <mat-icon>help_outline</mat-icon>
                <span>Logout</span>
            </li>
        </ul>

    </mat-drawer>
    <mat-drawer-content>

        <router-outlet></router-outlet>
        <app-bottom-nav-bar *ngIf="route.url != '/login' && route.url != '/loginForm' && route.url != '/signup'">
        </app-bottom-nav-bar>

    </mat-drawer-content>
</mat-drawer-container>