/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}
.l-z {
    z-index: 5;
}
.primary-bg {
    background-color: white;
}
.primary {
    background-color: #6002ee;
}
